#toolSearch{
margin-top:20px;
padding:10px;
width:280px;
border-radius:6px;
border:none;
}

.categories{
text-align:center;
margin-top:20px;
}

.categories button{
padding:10px 15px;
margin:5px;
border:none;
background:#4e73df;
color:white;
border-radius:6px;
cursor:pointer;
}

.categories button:hover{
background:#224abe;
}
